@using CourseLearning.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseLearning - Admin</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tinymceSkin")
    
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular.route")
    @Scripts.Render("~/bundles/angular.ui-router")
    @Scripts.Render("~/bundles/angular.ui")
    @Scripts.Render("~/bundles/angular.resource")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/fileUpload")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/localStorage")

    @Scripts.Render("~/bundles/adminApp")
    @Scripts.Render("~/bundles/sharedApp")
    
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
</head>
<body ng-app="app">
<div data-ui-view></div>
<script>
    var courseLearningWebApiUrl = '@CourseLearningConfiguration.CourseLearningWebApiUrl'
</script>
</body>
</html>
