<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular") 
    @Scripts.Render("~/bundles/angular.route")
    @Scripts.Render("~/bundles/angular.ui-router")
    
    @Scripts.Render("~/bundles/clientApp")
    @Scripts.Render("~/bundles/sharedApp")
</head>
<body ng-app="app">
<h1>Start Page!</h1>
<a ui-sref="test">Link to test</a>
<div ng-controller="mainCtrl" class="container">
    <div ui-view></div>

    <pre>$location.path() = {{$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{$route.current.params}}</pre>
    <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
    <pre>$routeParams = {{$routeParams}}</pre>   
</div>
</body>
</html>
